/*===============
*
*   VARIABLE
*
*===============*/
* {
  margin: 0;
  padding: 0;
}
:root {
  /* COULEURS */
  --blanc: #fff;
  --darkgray: #555;
  --gray: #aaa;
  --lightgray: #f2f2f2;
  --noir: #aaa;
  --noir-opa65: rgba(255, 255, 255, 0.65);
  --bleu: #0065fc;
  --bleuciel: #deebff;

  /* FONT_WEIGHT */
  --thin: 100;
  --extra-light: 200;
  --light: 300;
  --regular: 400;
  --medium: 500;
  --semi-bold: 600;
  --bold: 700;
  --extra-bold: 800;
  --black: 900;
}

/*===============
*
*   GENERAL
*
*===============*/

.nowrap {
  white-space: nowrap;
}

.maxwidth50 {
  max-width: 50%;
}

.maxwidth70 {
  width: 90%;
  max-width: 420px;
}

.maxwidth400px {
  max-width: 450px;
}

.maxheight500px {
  max-height: 500px;
}

.maxwidth800px {
  max-width: 800px;
}

.maxwidth1200px {
  max-width: 1200px;
}

@media all and (max-width: 768px) {
  .maxwidth70 {
    width: 100%;
    max-width: inherit;
  }
}

@media all and (min-width: 1250px) {
  .maxwidth600px {
    max-width: 600px;
  }
}

/*===============
*
*   TYPO
*
*===============*/

@font-face {
  font-family: "Railway";
  src: url("/Ressources/fonts/webfontkit/raleway-variablefont_wght-webfont.woff")
    format("woff");
}

h1,
h2,
h3,
p,
li,
a {
  font-family: "Railway", sans-serif;
}

h1 span {
  font-size: 0.8em;
  display: block;
  color: var(--gray);
}

h3 {
  font-size: 20px;
}

@media all and (max-width: 768px) {
  h1 {
    font-size: 16px;
  }
}

h2 {
  font-size: 25px;
}

@media all and (max-width: 1024px) {
  h2,
  h1 {
    font-size: 25px;
  }
}

h3 {
  font-size: 20px;
}

@media all and (max-width: 768px) {
  .h1-title h1 span span.span-h {
    font-size: 1.2em;
    display: inline-block;
  }

  h2,
  h1 {
    font-size: 18px;
  }

  p {
    font-size: 14px;
  }
}

/*========================
 * 
 * 				HEADER
 * 
 * ======================*/

header {
  padding: 40px 40px;
}

header nav {
  float: right;
}

header ul li {
  display: inline;
  list-style: none;
}

header ul a {
  padding: 0px 30px;
  text-decoration: none;
  font-weight: var(--regular);
  color: var(--darkgray);
}

header li a:active,
header li a:hover,
header li a:focus {
  border-top: 20px solid var(--bleu);
  padding-top: 38px;
  color: var(--bleu);
}

#inscription {
  font-weight: var(--bold);
  color: var(--bleu);
}

/*========================
 * 
 * 				MENU
 * 
 * ======================*/

/*========================
 * 
 * 				FOOTER
 * 
 * ======================*/

footer {
  display: flex;
  background-color: var(--lightgray);
}

footer section {
  margin: 100px;
  padding: 50px;
}

footer ul li {
  list-style: none;
  padding-top: 10px;
}

footer ul a {
  text-decoration: none;
  font-weight: var(--regular);
  color: var(--darkgray);
}

footer li a:active,
footer li a:hover,
footer li a:focus {
  text-decoration: underline;
  color: var(--gray);
}

/*========================
 * 
 * 			  ACCUEIL
 * 
 * ======================*/
