/*===============
*
*   VARIABLE
*
*===============*/

:root {
  /* COULEURS */
  --blanc: #fff;
  --grisfonce: #555;
  --gris: #aaa;
  --gris2: #d9d9d9;
  --grisclair: #f2f2f2;
  --noir: #aaa;
  --noir-opa65: rgba(255, 255, 255, 0.65);
  --bleu: #0065fc;
  --bleuciel: #deebff;

  /* FONT_WEIGHT */
  --thin: 100;
  --extra-light: 200;
  --light: 300;
  --regular: 400;
  --medium: 500;
  --semi-bold: 600;
  --bold: 700;
  --extra-bold: 800;
  --black: 900;
}

/*===============
*
*   GENERAL
*
*===============*/

* {
  margin: 0;
  padding: 0;
}

section,
aside {
  margin: 0px 40px;
}

.nowrap {
  white-space: nowrap;
}

.maxwidth50 {
  max-width: 50%;
}

.maxwidth70 {
  width: 90%;
  max-width: 420px;
}

.maxwidth400px {
  max-width: 450px;
}

.maxheight500px {
  max-height: 500px;
}

.maxwidth800px {
  max-width: 800px;
}

.maxwidth1200px {
  max-width: 1200px;
}

@media all and (max-width: 768px) {
  .maxwidth70 {
    width: 100%;
    max-width: inherit;
  }
}

@media all and (min-width: 1240px) {
  .maxwidth600px {
    max-width: 600px;
  }
}

/*===============
*
*   TYPO
*
*===============*/

body,
button {
  font-family: "Raleway", sans-serif;
}

button {
  cursor: pointer;
}

h1 {
  font-size: 20px;
  color: var(--black);
  font-weight: var(--bold);
  line-height: 1.4em;
}

h1 span {
  font-size: 15px;
  display: block;
  font-weight: var(--regular);
}

h3 {
  font-size: 20px;
  font-weight: var(--bold);
}

@media all and (max-width: 768px) {
  h1 {
    font-size: 16px;
  }
}

h2 {
  font-size: 25px;
}

@media all and (max-width: 1024px) {
  h2,
  h1 {
    font-size: 25px;
  }
}

h3 {
  font-size: 20px;
}

@media all and (max-width: 768px) {
  .h1-title h1 span span.span-h {
    font-size: 1.2em;
    display: inline-block;
  }

  h2,
  h1 {
    font-size: 18px;
  }

  p {
    font-size: 14px;
  }
}

/*========================
 * 
 * 				HEADER
 * 
 * ======================*/

header {
  padding: 40px 40px 0px 40px;
  margin-bottom: 40px;
}

header nav {
  float: right;
}

header ul li {
  display: inline;
  list-style: none;
}

header ul a {
  padding: 0px 30px;
  text-decoration: none;
  font-weight: var(--regular);
  color: var(--grisfonce);
}

header li a:active,
header li a:hover,
header li a:focus {
  border-top: 20px solid var(--bleu);
  padding-top: 38px;
  color: var(--bleu);
}

#inscription {
  font-weight: var(--bold);
  color: var(--bleu);
}

/*========================
 * 
 * 				FOOTER
 * 
 * ======================*/

footer {
  display: flex;
  background-color: var(--grisclair);
}

footer section {
  padding: 50px 20px;
}

footer ul li {
  list-style: none;
  padding-top: 10px;
}

footer h3 {
  margin-bottom: 10px;
}
footer ul a {
  text-decoration: none;
  font-weight: var(--regular);
  color: var(--grisfonce);
}

footer li a:active,
footer li a:hover,
footer li a:focus {
  text-decoration: underline;
  color: var(--gris);
}

/*========================
 * 
 * 			  ACCUEIL
 * 
 * ======================*/

/* =========== SECTION RECHERCHE ==============*/

#recherche #barre-recherche {
  display: flex;
  margin: 10px 0;
}

#recherche #barre-recherche i {
  position: relative;
  height: 40px;
  width: 40px;
  vertical-align: middle;
  background: var(--grisclair);
  border-radius: 10px 0 0 10px;
}

#recherche #barre-recherche i:before {
  position: absolute;
  top: 11px;
  left: 14px;
}

#recherche #barre-recherche input[type="text"],
#recherche #barre-recherche input[type="text"]:active,
#recherche #barre-recherche input[type="text"]:focus {
  padding: 10px 20px;
  border: 1px solid var(--grisclair);
  border-left: 0;
  border-right: 0;
  box-sizing: border-box;
  font-family: "Raleway", sans-serif;
  font-weight: var(--bold);
}

#recherche #barre-recherche button {
  padding: 10px;
  border-radius: 0 10px 10px 0;
  border: 0;
  color: var(--blanc);
  background: var(--bleu);
  font-weight: var(--bold);
}

#recherche #filtres {
  margin: 40px 0;
}

#recherche #filtres p,
#recherche #filtres button {
  display: inline;
  margin-right: 20px;
  font-weight: var(--bold);
}

#recherche #filtres button {
  padding: 0 15px 0 0;
  border-radius: 25px;
  border: 2px solid var(--grisclair);
  background: transparent;
  transition: 0.5s ease;
}

#recherche #filtres button:hover {
  background: var(--bleuciel);
  border: 2px solid var(--bleuciel);
  transition: all 0.5s ease;
}

#recherche #filtres i {
  position: relative;
  left: -1px;
  transform: scale(1.105);
  background: var(--bleuciel);
  border: 2px solid var(--bleuciel);
  padding: 10px;
  margin-right: 10px;
  border-radius: 100%;
  color: var(--bleu);
}

#recherche p.informations {
  margin: 40px 10px;
}

#recherche p i {
  color: var(--bleu);
  transform: scale(0.8);
  padding: 5px 10px;
  margin-right: 10px;
  border-radius: 100%;
  border: 1px solid var(--gris);
  background: transparent;
}

/*==================*/
#hebergements-populaires {
  display: flex;
  flex-direction: row;
}

/* =========== SECTION HEBERGEMENTS ============= */

/* SECTION CARTES */
.gray-bg {
  border-radius: 20px;
  background-color: var(--grisclair);
}

section#hebergements {
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;
  justify-content: flex-start;
  float: left;
  width: 60vw;
  padding: 30px 0 0 40px;
}

/* POSITIONNEMENT CARTE */

/* STYLE DE CARTE*/
article.carte {
  display: flex;
  flex-direction: column;
  padding: 5px;
  margin: 20px 20px 5px 0;
  border-radius: 20px;
  box-shadow: rgba(22, 22, 39, 0.3) 0px 7px 29px 0px;
  width: 270px;
}

article.carte img {
  height: 120px;
  width: 100%;
  object-fit: cover;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}

.carte p,
.carte span,
.carte h3 {
  padding: 5px;
}

article span.stars i {
  color: var(--gris2);
}

article span.stars i.blue {
  color: #0065fc;
}

/* =========== SECTION POPULAIRES ============ */
#populaires {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  width: auto; 
  padding: 30px;
}

aside .carte {
  display: flex;
  flex-direction: row;
  width: auto;
}

aside .carte img {
  border-top-right-radius: 0;
  border-bottom-left-radius: inherit;
  max-width: 100px;
  height: 120px;
  width: 100%;
  object-fit: cover;
}

aside.carte p,
aside.carte span,
aside.carte h3 {
  display: flex;
  flex-direction: column;
  width: 200px;
}

/* POSITIONNEMENT CARTE */

#hebergements div {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-start;
}
