/*===============
*
*   VARIABLE
*
*===============*/

:root {
  /* COULEURS */
  --blanc: #fff;
  --darkgray: #555;
  --gray: #aaa;
  --lightgray: #f2f2f2;
  --noir: #aaa;
  --noir-opa65: rgba(255, 255, 255, 0.65);
  --bleu: #0065fc;
  --bleuciel: #deebff;

  /* FONT_WEIGHT */
  --thin: 100;
  --extra-light: 200;
  --light: 300;
  --regular: 400;
  --medium: 500;
  --semi-bold: 600;
  --bold: 700;
  --extra-bold: 800;
  --black: 900;
}

/*===============
*
*   GENERAL
*
*===============*/

* {
  margin: 0;
  padding: 0;
}

section,
aside {
  margin: 0px 40px;
}

.nowrap {
  white-space: nowrap;
}

.maxwidth50 {
  max-width: 50%;
}

.maxwidth70 {
  width: 90%;
  max-width: 420px;
}

.maxwidth400px {
  max-width: 450px;
}

.maxheight500px {
  max-height: 500px;
}

.maxwidth800px {
  max-width: 800px;
}

.maxwidth1200px {
  max-width: 1200px;
}

@media all and (max-width: 768px) {
  .maxwidth70 {
    width: 100%;
    max-width: inherit;
  }
}

@media all and (min-width: 1250px) {
  .maxwidth600px {
    max-width: 600px;
  }
}

/*===============
*
*   TYPO
*
*===============*/

@font-face {
  font-family: "Raleway";
  src: url("/Ressources/fonts/Raleway/webfont/raleway-variablefont_wght-webfont.woff2") format("woff2"),
    url("/Ressources/fonts/Raleway/webfont/raleway-variablefont_wght-webfont.woff") format("woff");
}

body, button {
  font-family: "Raleway", sans-serif !important;
  line-height: 1.2em;
}

h1 span {
  font-size: 16px;
  display: block;
  color: var(--black);
  font-weight: var(--regular);
}

h3 {
  font-size: 20px;
}

@media all and (max-width: 768px) {
  h1 {
    font-size: 16px;
  }
}

h2 {
  font-size: 25px;
}

@media all and (max-width: 1024px) {
  h2,
  h1 {
    font-size: 25px;
  }
}

h3 {
  font-size: 20px;
}

@media all and (max-width: 768px) {
  .h1-title h1 span span.span-h {
    font-size: 1.2em;
    display: inline-block;
  }

  h2,
  h1 {
    font-size: 18px;
  }

  p {
    font-size: 14px;
  }
}

/*========================
 * 
 * 				HEADER
 * 
 * ======================*/

header {
  padding: 40px 40px 0px 40px;
}

header nav {
  float: right;
}

header ul li {
  display: inline;
  list-style: none;
}

header ul a {
  padding: 0px 30px;
  text-decoration: none;
  font-weight: var(--regular);
  color: var(--darkgray);
}

header li a:active,
header li a:hover,
header li a:focus {
  border-top: 20px solid var(--bleu);
  padding-top: 38px;
  color: var(--bleu);
}

#inscription {
  font-weight: var(--bold);
  color: var(--bleu);
}

/*========================
 * 
 * 				FOOTER
 * 
 * ======================*/

footer {
  display: flex;
  background-color: var(--lightgray);
}

footer section {
  margin: 100px;
  padding: 50px;
}

footer ul li {
  list-style: none;
  padding-top: 10px;
}

footer ul a {
  text-decoration: none;
  font-weight: var(--regular);
  color: var(--darkgray);
}

footer li a:active,
footer li a:hover,
footer li a:focus {
  text-decoration: underline;
  color: var(--gray);
}

/*========================
 * 
 * 			  ACCUEIL
 * 
 * ======================*/

.gray-bg {
  border-radius: 20px;
  background-color: var(--lightgray);
}

section#hebergements {
  width: 60vw;
  height: auto;
  float: left;
}

/* POSITIONNEMENT INTERIEUR CARTE */
#hebergements article {
  padding: auto;
}

#hebergements div {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
}

#hebergements div:nth-child(1) {
  display: none;
}

/* POSITIONNEMENT CARTE*/
article.carte {
  display: flex;
  flex-direction: column;
  padding: 5px;
  margin: 20px;
  border-radius: 20px;
  box-shadow: rgba(22, 22, 39, 0.3) 0px 7px 29px 0px;
  width: 280px;
}

.carte img {
  display: flex;
  width: auto;
  height: 130px;
  border-top-left-radius: inherit;
  border-top-right-radius: inherit;
}

.carte p, .carte span, .carte h3 {
  padding: 5px;
}
#populaires {
  display: flex;
  flex-direction: column;
  align-content: center;
  flex-wrap: wrap;
  width: 30vw;
}
